.drawing {
    background:#fff;
    border-style:dashed;

    p {
        color:#777;
        text-align:center;
    }
}

@media
only screen and (max-width:320px) and (orientation:portrait),
only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait),
only screen and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait),
only screen and (min-device-pixel-ratio:1.5) and (orientation:portrait),
only screen and (max-width:999px) {
    .drawing {
        p {
            width:250px;
            font-size:1.6em;
            margin:100px auto;
        }
    }
}

/* For medium desktop screens */
@media only screen and (min-width:1000px) {
    .drawing {
        p {
            width:300px;
            font-size:2.0em;
            margin:170px auto;
        }
    }
}

/* For larger desktop screens */
@media only screen and (min-width:1300px) {
    .drawing {
        p {
            width:400px;
            font-size:2.4em;
            margin:220px auto;
        }
    }
}

/* For very large desktop screens */
@media only screen and (min-width:1700px) {
    .drawing {
        p {
            width:480px;
            font-size:3em;
            margin:320px auto;
        }
    }
}

