{% extends "email/update_template.django.html" %}

{% block update_content %}
    <p>
        DrawQuest has gone international! DrawQuest is now available 11 languages, including
        French, Korean, Japanese, Spanish, Portuguese, German, Chinese, Russian, Dutch, Thai,
        and English.
    </p>
    <p>
        Also included in this update are various bug fixes to address Shop and Editor crashes,
        drawing in corners, and badge updates.
    </p>
    <p>
        Download the latest version now at
        <a href="http://example.com/download">http://example.com/download</a>.
    </p>
{% endblock %}
