{% autoescape off %}
{% blocktrans with username=user.username context "This is an email sent when a user has forgotten their password and has requested it to be reset." %}You're receiving this email because you requested a password reset
for your user account at DrawQuest <http://example.com/>.

Your username, in case you've forgotten: {{ username }}

Please go to the following page and choose a new password:

https://example.com/password_reset/reset{{ uid }}-{{ token }}/



Thanks for using DrawQuest!

-Team DrawQuest
{% endblocktrans %}
{% endautoescape %}
