@import "fonts", "mixins", "vars", "normalize", "defaults";

body {
    background:$page_bg;
}

.fixed_width_wrapper {
    width:600px;
    margin:0 auto;
}

.main {
    background:$main_bg;
    position:relative;
    z-index:1;
    padding:20px;

    h1 {
        font-size:2.6em;
        text-align:center;
    }

    p {
        font-size:1.4em;
        line-height:1.5em;
    }

    > p {
        text-align:center;
    }
}
